* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../images/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    text-shadow: 2px 2px 1px black;
}

.search-container {
    width: min(70%,350px);
    margin: 2.5em auto 5em;
    background-color: #272c33;
    border-radius: 40px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-text {
    width: 75%;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.5em;
}

.search-btn {
    width: min(20%,40px);
    height: 40px;
    color: rgb(56, 56, 228);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: min(80%,1160px);
    margin: 1em auto 2.3em;
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-container {
    width: min(80%,430px);
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    visibility: hidden;
}

.weather-description {
    padding: 50px;
    text-align: center;
}

.weather-description .city-header {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Lucida Snas Unicode","Lucida Granade",sans-serif;
    margin-bottom: 0.6em;
}

.weather-main{
    display: block;
    margin-bottom: 2em;
}

.weather-main div {
    display: inline-block;
}

.weather-main .description-header {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2rem;
    vertical-align: 75%;
    margin-left: 3px;
}

.weather-main .temperature {
    font-size: 2.7rem;
    vertical-align: 32%;
}

hr {
    margin-bottom: 2.3em;
}

.bottom-details {
    text-align: right;
    font-size: 1.1rem;
    text-shadow: 1.5px 1.5px 1px black;
}

.footer {
    text-align: center;
    margin-bottom: 1.5em;
}

.logout {
    padding: 0.7em 1.3em;
    background-color: #1e2227;
    color: rgb(207, 207, 207);
    font-family: "Lucida Snas Unicode","Lucida Granade",sans-serif;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .search-container {
        margin-bottom: 3em;
    }
    .main {
        padding: 1em 0;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    .weather-container {
        margin-top: 2.5em;
    }
}

@media screen and (max-width: 640px){
    :root {
        font-size: 14px;
    }
    .weather-main .description-header {
        vertical-align: 50%;
    }
    .weather-main .temperature {
        vertical-align: 25%;
    }
}
